<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Infrastructure.Database.Properties.Settings.EveDbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=EveDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>